<div class="row">
  <h1 class="text-center">TAGS</h1>
  <div class="col-md-4 mb-3">
    <div class="card custom-card card-width" (click)="addNewTag()">
        <div class="card-body plus-card-body">
          <img src='https://www.freepnglogos.com/uploads/plus-icon/plus-icon-plus-svg-png-icon-download-1.png' style="width: 100px; height: 100px; margin: auto;"/>
        </div>
    </div>
  </div>
  <div class="col-md-4 mb-3" *ngFor="let tag of tags">
    <div class="card custom-card card-width" (click)="onClick(tag.id)">
      <div class="card-image-container">
        <img src={{tag.image}} width="100%"/>
      </div>
        <div class="card-body card-body-container">
        <h3>
          {{ tag.name }}
        </h3>
        <div>
          <p *ngIf="tag.forChannel">For Channel</p>
          <p *ngIf="tag.forGame">For Game</p>
        </div>
      </div>
    </div>
  </div>
</div>