<div class="row">
  <h1 class="text-center">GENRES</h1>
  <div *ngIf="isLoggedIn" class="col-md-4 mb-3">
    <div class="card custom-card card-width" (click)="onAddNewGenre()">
      <div class="card-body plus-card-body">
        <img src='https://www.freepnglogos.com/uploads/plus-icon/plus-icon-plus-svg-png-icon-download-1.png' style="width: 100px; height: 100px; margin: auto;"/>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3" *ngFor="let genre of genres">
    <div class="card custom-card card-width" (click)="onClick(genre.id)">
      <div class="card-image-container">
        <img src={{genre.image}} width="350px"/>
      </div>
      <div class="card-body card-body-container" style="background-color: white;">
        <h3>
          {{ genre.name }}
        </h3>
      </div>
    </div>
  </div>
</div>