.custom-card:hover {
  cursor: pointer;
  box-shadow: 0.5px 0.5px 0.5px 1px lightgray;
}

.card-image-container {
  height: 200px;
  overflow: hidden;
}

.card-body-container {
  height: 140px;
  text-align: center;
}

.card-width {
  width: 18rem;
}

.plus-card-body {
  height: 340px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-alert {
  left: 50%;
  position: fixed !important;
  text-align: center;
  top: 40px;
  transform: translate(-50%, 0);
  width: 500px;
  z-index: 1;
}