<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <div class="card-header">New game</div>
    <div class="div card-body" *ngIf="game">
      <form (ngSubmit)="updateGame(f)" #f="ngForm">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" id="name" class="form-control" ngModel required [(ngModel)]="game.name">
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image Url</label>
          <input type="text" name="image" id="image" class="form-control" ngModel required [(ngModel)]="game.image">
        </div>
        <div class="mb-3 border-bottom">
          <div class="row">
            <label for="" class="form-label">Genres</label>
            <div class="col-md-auto" *ngFor="let genre of genres">
              <div class="form-check">
                <input class="form-check-input" [checked]="selectedGenres.includes(genre.id)" name="genre" type="checkbox" (change)="onGenreCheck($event, genre.id)">
                <label class="form-check-label" for="genre">
                  {{genre.name}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3 border-bottom">
          <div class="row">
            <label for="" class="form-label">Tags</label>
            <div class="col-md-auto" *ngFor="let tag of tags">
              <div class="form-check">
                <input class="form-check-input" [checked]="selectedTags.includes(tag.id)" name="tag" type="checkbox" (change)="onTagCheck($event, tag.id)">
                <label class="form-check-label" for="tag">
                  {{tag.name}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">
          Confirm
        </button>
      </form>
    </div>
  </div>
</div>